@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FranklinGothic';
    font-style: normal;
    font-weight: 300 500;
    src: local("Franklin Gothic"), url('/franklin/ITCFranklinGothicStd-Book.otf') format('opentype');
}
@font-face {
    font-family: 'FranklinGothic';
    font-style: bold;
    font-weight: 600 800;
    src: local("Franklin Gothic"), url('/franklin/ITCFranklinGothicStd-Demi.otf') format('opentype');
}

* { font-family: FranklinGothic}
